/* header start  */
header h1,
li {
  font-family: "Inter", sans-serif;
}
.btn-danger {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.active::after,.nav-item::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 0%;
    height: 2px;
    background: #ff0000;
    transition: 0.5s;
}
.active::after,.nav-item:hover::after{
    width: 90%;
}
.dropend:hover .submenu{
    display: block;
}
/* header end  */

/* loading spinner start  */
.spinner-parent {
  height: 100vh;
  animation: Spinner 1s ease-in-out forwards;
}
.spinner-parent > div {
  width: 45px;
  height: 45px;
}
.spinner-parent > div > div {
  width: 25px;
  height: 25px;
}
@keyframes Spinner {
  0% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/* loading spinner end  */

/* banner start */
.banner{
    background-color: rgb(238,238,238);
}
.banner h2{
    font-family: 'Amatic SC', cursive;
}
.banner p,.watch-button{
    font-family: "Open Sans", sans-serif;
}
.banner img{
    width: 100%
}
/* banner end */